<mat-toolbar class="header mat-elevation-z2" color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Accidents</span>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    class="sidenav"
    #sidenav
    [autoFocus]="false"
    [opened]="!isMobileOrTablet()"
    [fixedInViewport]="false"
    [mode]="isMobileOrTablet() ? 'over' : 'side'"
  >
    <span class="group-title">Accidents in range</span>
    <mat-divider></mat-divider>
    <div class="form-group-default">
      <div>Range: {{ distanceValue }}m</div>
      <mat-slider
        min="1"
        max="5000"
        step="1"
        (input)="sliderChange($event)"
        [(ngModel)]="distanceValue"
      ></mat-slider>
      <button
        mat-raised-button
        color="primary"
        (click)="onShowInRangeButtonClick()"
      >
        Search in range
      </button>
      <div class="clearfix"></div>
    </div>

    <span class="group-title">Dangerous roads near school</span>
    <mat-divider></mat-divider>
    <div class="form-group-default">
      <mat-form-field>
        <mat-select
          placeholder="City"
          [(ngModel)]="selectedCity"
          name="county"
          (selectionChange)="onCitySelect($event)"
        >
          <mat-option *ngFor="let city of citiesEnum" [value]="city">{{
            city
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select
          placeholder="School"
          [(ngModel)]="selectedSchool"
          name="school"
          (selectionChange)="onSchoolSelect($event)"
        >
          <mat-option *ngFor="let school of schools" [value]="school.id">{{
            school.name
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        (click)="onShowAccidentsSchoolClick()"
      >
        Show
      </button>
      <div class="clearfix"></div>
    </div>

    <span class="group-title">Accidents map</span>
    <mat-divider></mat-divider>
    <div class="form-group-default">
      <mat-form-field>
        <mat-select placeholder="For" [(ngModel)]="selectedMapType" name="type">
          <mat-option [value]="5"> Regions </mat-option>
          <mat-option [value]="6"> Counties </mat-option>
          <mat-option [value]="8"> Districts </mat-option>
        </mat-select>
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        (click)="onShowRateMapButtonClick()"
      >
        Show map
      </button>
      <div class="clearfix"></div>
    </div>

    <span class="group-title">Accidents on road</span>
    <mat-divider></mat-divider>
    <div class="form-group-default">
      <button
        mat-raised-button
        color="primary"
        (click)="onShowOnRoadButtonClick()"
      >
        Show accidents
      </button>
    </div>

    <div class="commands">
      <button mat-raised-button (click)="onClearButtonClick()">
        Clear map
      </button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content> <app-map></app-map> </mat-sidenav-content>
</mat-sidenav-container>
